* {
  margin: 0;
  padding: 0;
}
* .container2 {
  width: 1100px;
}
* .fon_cr {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
  width: 100%;
  height: 250px;
  flex-shrink: 0;
  background-color: #DCE1DA;
  text-align: center;
}
* .fon_cr .h2_1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 38px;
  color: #323334;
  margin-bottom: 20px;
}
* .fon_cr .h2_2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 38px;
  color: #323334;
  font-weight: 400;
  margin-bottom: 25px;
}
* .fon_cr p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
* main {
  /*display: flex;*/
  gap: 54px;
}
* .shop{
  display: flex;
  padding: 0;
}
* .nav {
  /*position: sticky;*/
  top: 15px;
  display: flex;
  flex-direction: column;
}
* .nav_items{
  width: 250px;
}
* .nav h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 20px;
  margin-bottom: 10px;
}
* .nav a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  font-weight: 400;
  color: #323334;
  text-decoration: none;
  margin-left: 2px;
  margin-bottom: 10px;
}
* .nav a:hover {
  color: #F81111;
}
* .nav #mainButton1, * .nav #mainButton2, * .nav #mainButton3, * .nav #mainButton4, * .nav #mainButton5 {
  margin-left: 0;
  cursor: pointer;
  width: 100px;
}
* .nav button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  font-weight: 400;
  color: #323334;
  text-decoration: none;
  margin-left: 2px;
}
* .nav button:hover {
  color: #F81111;
}
* .fir, * .sec, * .thi, * .fou, * .fiv, * .six {
  margin-bottom: 20px;
}
* .sec {
  display: flex;
  flex-direction: column;
}
* .sec button {
  border: none;
  background-color: rgba(220, 225, 218, 0);
  width: 100px;
  text-align: left;
}
* .sec div {
  margin-bottom: 10px;
}
* .sec a {
  margin-left: 10px;
}
* .sec a:hover {
  color: #F81111;
}
* .thi {
  display: flex;
  flex-direction: column;
}
* .thi a {
  width: 150px;
}
* .hidden {
  display: none;
  flex-direction: column;
  margin: 0px;
}
* button {
  margin: 5px;
  margin-bottom: 10px;
}
* .fou label, * .six label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  font-weight: 400;
  color: #323334;
  text-decoration: none;
  margin-left: 2px;
  cursor: pointer;
}
* .fou label:hover, * .six label:hover {
  color: #F81111;
}
* .fou input, * .six input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #C4C4C4;
  background-color: white;
}
* .fou input:checked, * .six input:checked {
  background-color: transparent;
}
* .fou input:checked::before, * .six input:checked::before {
  content: "";
  position: absolute;
  left: -2%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
}
* .fiv #white {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #C4C4C4;
  background-color: white;
}
* .fiv #white:checked {
  background-color: transparent;
}
* .fiv #white:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
}
* .fiv #black {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #323334;
  background-color: #323334;
}
* .fiv #black:checked {
  background-color: #323334;
}
* .fiv #black:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  transform: rotate(-45deg);
}
* .fiv #gray {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #C4C4C4;
  background-color: #C4C4C4;
}
* .fiv #gray:checked {
  background-color: #C4C4C4;
}
* .fiv #gray:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
* .fiv #yellow {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #F2C94C;
  background-color: #F2C94C;
}
* .fiv #yellow:checked {
  background-color: #F2C94C;
}
* .fiv #yellow:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
* .fiv #orange {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #F2994A;
  background-color: #F2994A;
}
* .fiv #orange:checked {
  background-color: #F2994A;
}
* .fiv #orange:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
* .fiv #red {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #DF1313;
  background-color: #DF1313;
}
* .fiv #red:checked {
  background-color: #DF1313;
}
* .fiv #red:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
* .fiv #salptovy {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #6FCF97;
  background-color: #6FCF97;
}
* .fiv #salptovy:checked {
  background-color: #6FCF97;
}
* .fiv #salptovy:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
* .fiv #green {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #219653;
  background-color: #219653;
}
* .fiv #green:checked {
  background-color: #219653;
}
* .fiv #green:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
* .fiv #pink {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #f3b9ea;
  background-color: #f3b9ea;
}
* .fiv #pink:checked {
  background-color: #f3b9ea;
}
* .fiv #pink:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
* .fiv #purple {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #9a10cc;
  background-color: #9a10cc;
}
* .fiv #purple:checked {
  background-color: #9a10cc;
}
* .fiv #purple:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
* .fiv #blue {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #56CCF2;
  background-color: #56CCF2;
}
* .fiv #blue:checked {
  background-color: #56CCF2;
}
* .fiv #blue:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
* .fiv #darkblue {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  position: relative;
  border: 2px solid #2F80ED;
  background-color: #2F80ED;
}
* .fiv #darkblue:checked {
  background-color: #2F80ED;
}
* .fiv #darkblue:checked::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 5px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
* .cart-shop h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 40px;
  color: #323334;
  margin-top: 5px;
}
* .cart-shop p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  font-weight: 100;
  color: #323334;
  padding: 10px 0px 20px 0px;
}
* .dec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
* .dec .product {
  margin-bottom: 30px;
}
* .dec .dec_con2 {
  display: none;
  margin-bottom: 30px;
}
* .dec .img_top {
  width: 356px;
  height: 415px;
  margin-left: -11px;
}
* .dec p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 18px;
  color: #323334;
  padding: 25px 0 12px 0;
  width: 150px;
}
* .dec h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 24px;
  color: #323334;
  padding-top: 10px;
  padding-bottom: 10px;
}
* .dec .popup {
  display: flex;
  width: 100px;
  gap: 20px;
}
* .dec .star {
  cursor: pointer;
  font-size: 24px;
  color: #999999;
}
* .dec .star.filled {
  color: #F2C94C;
}
* .up {
  position: absolute;
  margin-left: 1022px;
  margin-top: -113px;
}
* .but {
  display: flex;
  justify-content: center;
  gap: 40px;
}
* .but button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 350px;
  height: 50px;
  padding-top: 18px;
  background-color: #323334;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}/*# sourceMappingURL=style2.css.map */